<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog |<%= title %></title>

    <link rel="stylesheet" href="/style.css"> 
</head>
 <!-- 위치는 최종적으로 들어가는 페이지를 기준으로 줘야함 -->